<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Security-Policy" />
    <!--This sets width to device wotdh -->
    <meta name="viewport" content="width = device-width , initial-scale=1">
    
	<title>Minecraft AI - Free Code</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Load bootstrap locally  -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script type="text/JavaScript" src="../static/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <!-- Link to persona CSS -->
    <link rel="stylesheet" href="./static/css/general_styling.css">
</head>

<body>
    <!-- use md for desktop grid system is 12-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 title">
                <a href="../"> <img src="../static/includes/homebutton.png" id="homebtn" alt="Home"> </a>
                <input type="image" src="../static/includes/Question_mark.png"  
                id="questionmrk" data-toggle="popover" 
                title="Free Code Help" data-placement="bottom" 
                data-content="" />
                <div id="lesson_title">Free Code </div>
            </div>
        </div>
    </div>
    
    <div class="container pad"> 
        <div class="container maincont">
            <div class="row"> 
                <div class="col-md-12 hiegthforcode edit-text general" id="codeborder">  
                    <p></p>
                    <div id="containerMona" class="code codec"></div>
                </div>
            </div>
        </div>

    
         <div class="container">
            <div class="row">
                <button id="run" class="button">RUN</button>
            </div>
        </div>   
        <div class="container">
             <div id="row">
                    <h1>Output</h1>
                        <div id="console" class="outputborder">
                            <p id="output"></p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <p></p>

        <!-- BACK ON BOTTOM -->
        <!-- <div class="container">
            <div class="row">
                <div class="text-left">
                    <a href="/" class="btn btn-primary" id="backbutton">Back</a>
                </div>
            </div>
        </div> -->
    </div>
</body>
    
<script src="https://unpkg.com/monaco-editor@latest/min/vs/loader.js"></script>
<script type="module">
    import {EventHandler, Command, MinecraftLearns, DataStore, MinecraftAPIClient} from 'https://nathan-nesbitt.github.io/Minecraft_API/src/minecraft_api.js';
    window.EventHandler = EventHandler
    window.Command = Command
    window.MinecraftLearns = MinecraftLearns
    window.DataStore = DataStore
    window.MinecraftAPIClient = MinecraftAPIClient

    $('[data-toggle="popover"]').popover({
        html: true
    });

    var help = `
    <p><b>MinecraftAPIClient()</b> - Creates connection to minecraft</p>

    <p><b>EventHandler()</b> - Handles an in game event.</p>

    <p><b>Command()</b> - Sends a command to the game</p>

    <p><b>DataStore()</b> - Stores information on the computer.</p>

    <p><b>MinecraftLearns()</b> - Creates a Machine Learning Model.</p>
    `

    document.getElementById("questionmrk").setAttribute("data-content", help);

</script>
<script src="/static/setup/setup_monaco.js"></script>
</html>