@font-face{
    font-family: 'MineFont';
    src: url('../includes/Minecraft.ttf'); 
}
@font-face{
    font-family:'titlefont';
    src:url(../includes/Minecrafter.Reg.ttf)
}
body{
    background-color: #477A1E;
    color: #8FCA5C;
    font-family: MineFont;
    font-size: large;
    max-width: 100%;
    background-image: url(../includes/Cobblestone.jpg)
}
.minefont{
    font-family: MineFont;
    font-size: medium;
}
.code{
    background-color: #252526;
    color: #c6c6c6;
}
#console{
    height: 25vh;
    width: 95wh;
    overflow-y: scroll;
}
#overlay {
    display: none;
    width: 100wh;
    height: 100vh;
    background-color: #252526;
    opacity: 0.75;
    color: #c6c6c6;
    text-align: center;
    z-index: 2;
    cursor: pointer;
  }
.button-group{
    text-align: center;
}
.title{
    font-size: 280%;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: #70B237;
    font-family: 'titlefont'
}
.border1{
    border-style: solid;
    border-color: #2F5214 ;
    height: 80vh;
}
.maincont{
    background-color: #544f49; 
}
#Models{
    height: 40vh;
    text-align: center;
    line-height: 1500%;
    position: relative;
}
.button{
    background-color: #8FCA5C;
    color: #252526;
    width: 180px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    margin-top: 0.3%;    
}
#buttonM{
    margin-top: 40%;
    height: 60px;
}

#buttonL{
    margin-top: 20%;
    height: 60px;
}
#backbutton{
    background-color: #8FCA5C;
    color: #252526;
    width: 180px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    margin-top: 0.3%;

}
.model{
    text-align: center;
    
}
.modelborder{
    border-style: solid;
    border-color: #2F5214 ;
    height: 80vh;
}
.subtitle{
    font-size: 210%;
    color: #70B237;
}
.modelsimg{
    width: 300px;
    border: solid;
    border-color: #252526 
}
.descborder{
    border: solid;
    border-color: #2F5214 ;
    height: 27vh;
    margin-top: 5px; 
}
#beginButton{
    min-width: 15.4%;
    position: relative;
    float: right;
    margin-bottom: 0.3%;
}
#codeborder{
    border-style: solid;
    border-color: #2F5214 ;
    height: 50vh;
}
#consoleborder{
    border-style: solid;
    border-color: #2F5214 ;
    height: 20vh;
}
